asgiref==3.7.2
async-generator==1.10
attrs==23.1.0
blinker==1.6.2
Brotli==1.0.9
certifi>=2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
cryptography>=41.0.3
Django>=4.2.3
django-cors-headers==4.1.0
django-qrcode==0.3
exceptiongroup==1.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
kaitaistruct==0.10
outcome==1.2.0
packaging==23.1
Pillow==9.5.0
psutil==5.9.5
pyasn1==0.5.0
pycparser==2.21
pydivert==2.1.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pypng==0.20220715.0
PySocks==1.7.1
pytesseract==0.3.10
qrcode==7.4.2
requests==2.31.0
selenium==4.9.1
selenium-wire==5.1.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.2
wsproto==1.2.0
zstandard==0.21.0
